<!-- Views/AdminHome/Index.cshtml -->
@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Welcome to Admin Dashboard</h2>
<!-- Nội dung trang admin home -->