@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model COSMESTIC.Models.RegisterModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Đăng ký - COSMESTIC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/re" asp-append-version="true" />


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <div class="container">
        <div class="row pb-5">
            

            <div class="col">
                <div class="login-box mx-auto mb-8">
                    <h2 class="text-center mb-4">Đăng ký tài khoản</h2>
                    <form asp-action="Register" method="post">
                        <div class="mb-3">
                            
                            <input type="text" class="form-control" name="fullName" placeholder="Họ và tên" required>
                        </div>
                        <div class="mb-3">
                            @* <label class="form-label">Email</label> *@
                            <input type="email" class="form-control" name="email" placeholder="Email" required>
                           
                        </div>
                        <div class="mb-3"> 
                            @* <label class="form-label">Số điện thoại</label> *@
                            <input type="text" class="form-control " name="phoneNumber" placeholder="Số điện thoại" required>
                         </div> 
                        <div class="mb-3">
                            @* <label class="form-label">Ngày sinh</label> *@
                            <input type="date" class="form-control " name="dateOfBirth" placeholder="Ngày sinh" required>
                        </div>
                        <div class="mb-2">
                            @* <label class="form-label">Tên đăng nhập</label> *@
                            <input type="text" class="form-control" name="username" placeholder="Tên đăng nhập" required>
                        </div>
                        <div class="mb-2">
                            @* <label class="form-label">Mật khẩu</label> *@
                            <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required>
                        </div>
                        <button type="submit" class="btn btn-outline-primary w-100">Đăng ký</button>
                        <div class="text-center mt-3">Bạn đã có tài khoản? <a href="/Login/Login">Đăng nhập</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/Login.js"></script>
</body>
</html>
