@model List<COSMESTIC.Models.Data.Products>
<div>
    @if (Model != null && Model.Any() && Model[0]?.catalog != null)
    {
        <div style="border: inherit;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-bottom: 50px; background-color: #D9D9D9; padding: 10px; border-radius: 10px;" class="d-flex">
            <div>
                @Model[0].catalog.catalogName <span>(<span style="opacity: 0.5;">@Model.Count() sản phẩm</span>)</span>
            </div>

            <div class="flex-column flex-column" style="margin-left: 50px;">
                <div class="d-flex align-items-center gap-2">
                    <label>Khoảng giá: </label>
                    <form asp-action="filterProductFollowPrice" asp-controller="Product" method="get">
                        <input type="number" class="form-control" id="min" name="min" placeholder="TỪ..đ" style="width: 80px; height: 25px;">
                        -
                        <input type="number" class="form-control" id="max" name="max" placeholder="ĐẾN...đ" style="width: 80px; height: 25px;">
                        <input type="hidden" name="catalogID" value="@Model[0].catalogID" />
                        <button type="submit" class="btn btn-warning" style="margin-inline:100px; margin-top: 10px;">Áp dụng</button>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div>Rỗng</div>
    }

    <div id="product-list">
        @await Html.PartialAsync("_partListProduct", Model)
    </div>
</div>
