@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="home-container">

    <div id="prev">
        prev
    </div>
    <div class="next">next</div>
    
</div>
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}
<script src="~/js/home.js"></script>